# Dependencies
node_modules

# Build output
dist
.next
.turbo
coverage
playwright-report
test-results

# Generated code
apps/deck-builder-web/src/generated
apps/deck-builder-api/generated
apps/deck-builder-api/openapi.json

# Lockfiles
yarn.lock
